#parrafo1{
       background-color: rgb(87, 143, 42);
       color: aliceblue;
       font-size: 58px;
}
#parrafo2{
      background-color: darkgreen;
      color: aliceblue;
      font-size: 58px;
}
#titulo1{
     background-color: rgb(87, 143, 42);
     color: aliceblue;
     font-size: 58px;
}
#titulo2{
     background-color: darkgreen;
     color: aliceblue;
     font-size: 58px;
}
#fondo{
    background-color: rgb(56, 56, 56);
}
